  <td>
    <%= subject.name %>
  </td>
  <td>
    <%= link_to "Bekijken", subject, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
  <td>
    <%= link_to "Aanpassen", edit_subject_path(subject), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
