<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex-box">
    <h1 class="font-bold text-4xl">Alle vakken</h1>
    <%= link_to "Nieuw vak", new_subject_path, class: "new-button" %>
  </div>

  <table id="subjects" class="table">
    <tr>
      <th>
        Naam
      </th>
      <th></th>
      <th></th>
    </tr>
    <% @subjects.each do |subject| %>
      <tr>
        <%= render 'table_subject', subject: subject %>
      </tr>
    <% end %>
  </table>
</div>
